body,
html,
.body {
  background: #f3f3f3 !important;
}

/* Small only */
@media only screen and (max-width: #{$global-breakpoint}) {
  .header {
    .columns {
      padding-top: 24px !important;
    }
    .logo {
      width: 150px !important;
    }
  }
  .content-area {
    .message {
      .columns {
        h1 {
          line-height: 1;
          font-size: 40px !important;
          padding: 0 20px;
        }
      }
    }
  }
}

.header {
  background: #ffe14f;
  background-color: #ffe14f;
  .columns {
    padding-top: 65px;
  }
  .logo {
    width: 240px;
  }
}

.content-area {
  .first {
    &.columns {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0;
    }
  }
  .message {
    background: #ffe14f;
    background-color: #ffe14f;

    .columns {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      p {
        font-size: 18px;
        &.limited-time {
          background: #ffb700;
          background-color: #ffb700;
          font-weight: 700;
          width: 180px;
          padding: 3px 0;
          border-radius: 5px;
        }
      }
      h1 {
        font-weight: 700;
        font-size: 48px;
        // padding: 0 120px;
        margin-bottom: 16px;
      }
    }
  }
  .reasons-to-buy {
    background: white;
    background-color: white;

    .reason-to-buy {
      height: 215px;
      .columns {
        padding: 0;
      }
      .reason-img {
        height: 188px;
        height: 188px;
      }
      p {
        hyphens: none;
      }
      .reason-heading {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 6px;
      }
      .reason-body {
        font-size: 18px;
        line-height: 1.7;
      }
    }
  }
}

.footer {
  & > tbody > tr > .columns {
    padding-left: 92px;
    padding-right: 92px;
    p {
      font-size: 14px;
      hyphens: none;

      &.availability {
        padding: 0 40px;
        margin-bottom: 20px;
      }
      &.questions {
        margin-bottom: 25px;
      }
      &.availability,
      &.questions {
        line-height: 1.5;
        a {
          color: #ff6705;
          font-weight: 700;
        }
      }
    }
    .horizontal-divider {
      display: block;
      width: 170px;
      height: 2px;
      background: #e8e8ea;
      background-color: #e8e8ea;
      margin-bottom: 25px;
    }
    .social-icons {
      width: 200px;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .footer-nav {
      .columns {
        padding-bottom: 24px;
      }
      a {
        font-size: 14px;
        color: $black;
      }
      .vertical-divider {
        height: 14px;
        width: 2px;
        display: inline-block;
        background: #e8e8ea;
        background-color: #e8e8ea;
        margin: 0 4px;
        vertical-align: middle;
      }
    }
    .legal-text {
      .columns {
        padding-bottom: 32px;
        p {
          color: rgb(160, 160, 160);
          font-size: 12px;
          line-height: 1.5;
          margin: 0;
        }
        a {
          color: rgb(160, 160, 160);
          text-decoration: underline;
        }
      }
    }
  }
}
