body,
html,
.body {
  background: #f3f3f3 !important;
}

/* start: HEADER */
.header {
  background: #ffe14f;
  background-color: #ffe14f;
  .columns {
    padding-top: 65px;
  }
  .logo {
    width: 240px;
  }
}
/* end: HEADER */

/* start: EMAIL BODY */
.content-area {
  .first {
    &.columns {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0;
    }
  }
  .message {
    background: #ffe14f;
    background-color: #ffe14f;

    .columns {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      p {
        font-size: 18px;
        &.limited-time {
          background: #ffb700;
          background-color: #ffb700;
          font-weight: 700;
          width: 180px;
          padding: 3px 0;
          border-radius: 5px;
          margin-bottom: 12px;
        }
        &.message-body {
          margin: 0 !important;
        }
      }
      h1 {
        font-weight: 700;
        font-size: 48px;
        padding: 0 75px;
        margin-bottom: 20px;
      }
    }
  }
  .reasons-to-buy {
    background: white;
    background-color: white;

    .reason-to-buy {
      height: 215px;
      .columns {
        padding: 0 !important;
      }
      .reason-img {
        height: 188px;
      }
      p {
        hyphens: none;
      }
      // prettier-ignore
      & > tbody > tr > .columns > table > tbody > tr > th > table > tbody > tr > .last  > table > tbody > tr > th {
        padding-left: 6px;
      }
      .reason-heading {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 6px;
      }
      .reason-body {
        font-size: 18px;
        line-height: 1.7;
        padding-right: 16px;
      }
    }
  }
}
/* end: EMAIL BODY */

/* start: FOOTER */
.footer {
  & > tbody > tr > .columns {
    padding-left: 92px;
    padding-right: 92px;
    p {
      font-size: 14px;
      hyphens: none;

      &.availability {
        padding: 0 32px;
        margin-bottom: 20px;
      }
      &.questions {
        margin-bottom: 25px;
      }
      &.availability,
      &.questions {
        line-height: 1.5;
        a {
          color: #ff6705;
          font-weight: 700;
        }
      }
    }
    .horizontal-divider {
      display: block;
      width: 170px;
      height: 2px;
      background: #e8e8ea;
      background-color: #e8e8ea;
      margin-bottom: 24px;
    }
    .social-icons {
      width: 200px;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .footer-nav {
      .columns {
        padding-bottom: 24px;
      }
      a {
        font-size: 14px;
        color: $black;
      }
      .vertical-divider {
        height: 14px;
        width: 2px;
        display: inline-block;
        background: #e8e8ea;
        background-color: #e8e8ea;
        margin: 0 4px;
        vertical-align: middle;
      }
    }
    .legal-text {
      .columns {
        padding-bottom: 32px;
        p {
          color: rgb(160, 160, 160);
          font-size: 12px;
          line-height: 1.5;
          margin: 0 !important;
        }
        a {
          color: rgb(160, 160, 160);
          text-decoration: underline;
        }
      }
    }
  }
}
/* end: FOOTER */

/* start: MEDIA QUERIES */
@media only screen and (max-width: #{$global-breakpoint}) {
  body,
  html,
  .body {
    background: #fdfbff !important;
  }

  .header {
    .columns {
      padding-top: 24px !important;
    }
    .logo {
      width: 150px !important;
    }
  }
  .content-area {
    .message {
      .columns {
        p {
          &.message-body {
            margin: 0 !important;
          }
        }
        h1 {
          line-height: 1;
          font-size: 40px !important;
          width: 250px;
          padding: 0 20px !important;
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }
    .reasons-to-buy {
      .reason-to-buy {
        // prettier-ignore
        & > tbody > tr > th.small-12.large-10.columns > table > tbody > tr > th > table > tbody > tr > th.small-12.large-7.columns.last > table > tbody > tr > th
        {
          padding-left: 34px !important;
          padding-right: 34px !important;
        }
        .reason-heading {
          padding-top: 16px !important;
          text-align: center !important;
        }
        .reason-body {
          text-align: center !important;
          padding-right: 0 !important;
          padding: 0 8px 8px !important;
        }
        &.no-stress {
          .reason-heading {
            padding: 16px 40px 0 !important;
          }
        }
      }
    }
  }

  .footer {
    & > tbody > tr > .columns {
      p {
        &.availability {
          padding: 0 24px;
        }
        &.questions {
          padding: 0 36px !important;
        }
      }
      .horizontal-divider {
        margin-bottom: 18px !important;
      }
      .social-icons {
        .columns {
          padding-bottom: 8px !important;
        }
      }
      .footer-nav {
        & > tbody > tr > th > table > tbody > tr > th {
          padding-left: 16px !important;
          padding-right: 16px !important;
        }
        a {
          font-size: 11px !important;
          line-height: 1.8 !important;
        }
        .vertical-divider {
          margin: 0 2px !important;
        }
      }
      .legal-text {
        th {
          padding-bottom: 12px !important;
          p {
            font-size: 10px !important;
            padding: 0 2px !important;
          }
        }
      }
    }
  }
}
/* end: MEDIA QUERIES */
