<container>
  <row class="footer">
    <columns>
      <!-- each line treated as row -->
      <p class="text-center availability">
        *Available from May 8th - May 14th. Additional terms apply. See details
        <a>here</a>.
      </p>
      <p class="text-center questions">
        If you have any questions, please visit our <a>FAQs</a> or email us at
        <a>help@headspace.com</a>. Our team can answer questions about your
        account or help with your meditation practice.
      </p>
      <center>
        <span class="horizontal-divider"></span>
      </center>
      <center>
        <row class="social-icons">
          <columns>
            <row>
              <columns>
                <a href="#">
                  <center>
                    <img src="../assets/img/facebook.png" alt="" />
                  </center>
                </a>
              </columns>
              <columns>
                <a href="#">
                  <center>
                    <img src="../assets/img/instagram.png" alt="" />
                  </center>
                </a>
              </columns>
              <columns>
                <a href="#">
                  <center>
                    <img src="../assets/img/twitter.png" alt="" />
                  </center>
                </a>
              </columns>
              <columns>
                <a href="#">
                  <center>
                    <img src="../assets/img/youtube.png" alt="" />
                  </center>
                </a>
              </columns>
            </row>
          </columns>
        </row>
      </center>
      <row class="footer-nav">
        <columns>
          <center>
            <a href="#">My Headspace</a>
            <span class="vertical-divider"></span>
            <a href="#">How it works</a>
            <span class="vertical-divider"></span>
            <a href="#">FAQs</a>
            <span class="vertical-divider"></span>
            <a href="#">T&Cs</a>
            <span class="vertical-divider"></span>
            <a href="#">Privacy Policy</a>
          </center>
        </columns>
      </row>
      <row class="legal-text">
        <columns>
          <p class="text-center">
            You have received this email as a registerd user of Headspace&reg;
          </p>
          <p class="text-center">
            You can unsubscribe from these emails <a>here</a>.
          </p>
          <p class="text-center">
            Headspace, Inc., 2417 Michigan Avenue, Santa Monica, CA 90404 United
            States.
          </p>
          <p class="text-center">Delaware Corporation State File #5271511</p>
          <p class="text-center">&copy; 2023 Headspace Inc.</p>
          <p class="text-center">All rights reserved</p>
        </columns>
      </row>
    </columns>
  </row>
</container>
